{% extends 'default.html' %} {% block body %} {% include
'partials/navbar.html'%}
<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-offset-1 landing-caption">
          <h1 class="title is-1 is-bold is-spaced">Patient Dashboard</h1>
          <h2 class="subtitle is-5">Hello there, {{ user }}</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2">Share information</h2>
      <div class="divider is-centered"></div>
    </div>
  </div>
  <div class="content-wrapper">
    <div class="columns">
      <div class="column is-8 is-offset-2">
        <div class="field">
          <label class="label">Height</label>
          <div class="control">
            <input class="input" type="text" placeholder="Height">
          </div>
        </div>
        <div class="field">
          <label class="label">Weight</label>
          <div class="control">
            <input class="input" type="text" placeholder="Weight">
          </div>
        </div>
        <div class="field">
          <label class="label">Age</label>
          <div class="control">
            <input class="input" type="text" placeholder="Age">
          </div>
        </div>
        <div class="field">
          <label class="label">Blood Group</label>
          <div class="control">
            <input class="input" type="text" placeholder="Enter Blook Group">
          </div>
        </div>
        
        <div class="field">
          <div class="control">
            <button class="button is-primary">Submit</button>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</section>

<section class="section section-feature-grey">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2">Services</h2>
      <div class="divider is-centered"></div>
    </div>

    <div class="content-wrapper">
      <div class="columns">
        <div class="column is-one-quarter">
          <div class="box is-bordered has-text-centered is-feature-reveal">
            <h4 class="title is-size-4">Check up on Family</h4>
            <p class="content">
              This is some cool explanatory text that is on two rows
            </p>
            <a href="{{ url_for('family') }}" class="button btn-align-md primary-btn raised"
              >Open detector</a
            >
          </div>
        </div>
        <div class="column is-one-quarter">
          <div class="box is-bordered has-text-centered is-feature-reveal">
            <h4 class="title is-size-4">Share XRay</h4>
            <p class="content">
              This is some cool explanatory text that is on two rows
            </p>
            <form method="POST" action="" enctype="multipart/form-data" class="img-upload">
              {{ form.hidden_tag() }}
              <div class="file is-justify-content-center m-4">
                <label class=file-label>
                  {{ form.picture(class_="file-input") }}
                  <span class="file-cta">
                    <span class="file-label">
                      Upload file
                    </span>
                  </span>
                </label>
                  {% if form.picture.errors %}
                  {% for error in form.picture.errors %}
                  <small class="help has-text-danger">{{ error }}</small>
                  {% endfor %}
                  {% endif %}
              </div>
              {{ form.submit(class_='button btn-align-md primary-btn raised') }}
            </form>
            <p class="content">
              {% with messages = get_flashed_messages() %}
              {% if messages %}
              {% for message in messages %}
              <p class="help has-text-danger">{{ message }}</p>
              {% endfor %}
              </help>
              {% endif %}
              {% endwith %}
            </p>
          </div>
        </div>
        <div class="column is-one-quarter">
          <div class="box is-bordered has-text-centered is-feature-reveal">
            <h4 class="title is-size-4">Diagnosis Bot</h4>
            <p class="content">
              This is some cool explanatory text that is on two rows
            </p>
            <a href="https://chatbot.hellotars.com/conv/41BcE1/" class="button btn-align-md primary-btn raised"
              >Launch bot</a
            >
          </div>
        </div>
        <div class="column is-one-quarter">
          <div class="box is-bordered has-text-centered is-feature-reveal">
            <h4 class="title is-size-4">Chat with a doctor</h4>
            <p class="content">
              This is some cool explanatory text that is on two rows
            </p>
            <a href="#" class="button btn-align-md primary-btn raised"
              >Contact doctor</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock body %}
